@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .logo {
        margin-left: 16px;

        &__img {
            width: 99px;
        }
    }

    .title {
        color: $color-text;
        text-align: center;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .header {
        padding-top: 32px;
        border-bottom: none;
        flex-wrap: wrap;

        &__input {
            display: none;
        }

        &__menu {
            display: none;

            &-mob {
                display: flex;
                align-items: center;
                gap: 32px;
                padding-left: 16px;
                padding-right: 16px;

                .header__text-link {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    color: $color-text;
                }
            }
        }

        &__text {
            &__prgf_of {
                color: $color-text;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                /* 200% */
            }

            &__link {
                color: $color-text;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 171.429% */
                text-decoration-line: underline;
            }
        }
    }


    .for {
        grid-template-columns: repeat(4, 1fr);

        &__hitem {
            grid-column: 1 / -1;
            height: 375px;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            &_big {
                height: 244px;
            }
        }

        &__texthead {
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            display: flex;
            flex-wrap: wrap;
        }
    }

    .sectionbox {
        &__name {
            &-item-interior {
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }

        &__specialoffer {
            display: flex;

            &-sale {
                display: flex;
                align-items: center;
                row-gap: 64px;
                flex-wrap: wrap;
                column-gap: 29px;
            }
        }

        &__price {
            &-new {
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            &-old {
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-decoration-line: strikethrough;
            }

            &__catalog {
                &-link {
                    margin-top: 36px;
                    margin-bottom: 32px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    text-decoration: none;
                }
            }
        }

        &__head {
            &-text {
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-bottom: 32px;
                margin-top: 64px;
            }
        }

    }

    .catalog-crumbs {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .cart {
        display: block;

        &__pic {
            display: none;

        }

        &__button-clear {
            display: flex;
            align-items: center;
            border-radius: 50px;
            border: 1px solid #000;
            box-sizing: border-box;
            color: #000000;
            justify-content: center;
            background-color: transparent;

            &:hover {
                color: #ffffff;
                transition: all 20ms;
                background-color: #000000;
            }
        }

        &___mobile {
            display: flex;
        }
        &__form {
            width: auto;
        }

    }
}



/*     
.section {
&__price {
font-size: 18px;
font-style: normal;
line-height: normal;
display: flex;
}
} 

&__img {
background-image: url(img/Rectangle_22.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.sale {


&__frame {
display: flex;
flex-direction: column;
}
}
        .cat {
            &__texthead {
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
 */