@media (max-width: 1024px) {
    .center {
        padding-left:  calc(50% - 786px/2);
        padding-left:  calc(50% - 786px/2);
    }
    .for {
        &__hitem {
            height: 268px;
        }
    }
    .section__sale {
        row-gap: 39px;
        column-gap: 29px;
    }
    .section__cat {
        display: flex;
        flex-wrap: wrap;
    }
    .f_frame_logo {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 833px) {
    .center {
    padding-left: 24px;
    padding-left: 24px;
    }
}