@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    /*--------------main--------------*/
    .for {
        &__hitem {
            height: 265px;
        }
    }

    .sectionbox {
        &__catalog {
            &-sale {
                display: flex;
                flex-wrap: wrap;
            }

            &__item {
                &-img {
                    height: 250px;
                }
            }
        }
    }

    .catalog-crumbs {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        margin-right: 65px;
    }

    .footer {
        &__frame {
            &-logo {
                display: none;
            }
        }
    }
    .cart {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .sectionbox__item {
        width: 345px;
    }

    .sectionbox__catalog-item {
        width: 345px;

    }
}