@charset "UTF-8";
/*--------------Global style--------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

/*--------------End Global style--------------*/
/*--------------Start Header--------------*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  flex-wrap: wrap;
}
.header__input {
  width: 288px;
  height: 41px;
  border: 1px solid #fff;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding-left: 32px;
  padding-right: 32px;
}
.header__input::-moz-placeholder {
  color: #fff;
}
.header__input::placeholder {
  color: #fff;
}
.header__input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__menu-mob {
  display: none;
}
.header__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 792px;
}
.header__text-link {
  font-size: 16px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  text-decoration-line: underline;
}
.header__text-paragraph {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  font-size: 24px;
  font-style: normal;
  margin-bottom: 16px;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header__linktop {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}
.header__linktop:hover {
  text-decoration: underline;
}

.top__main {
  height: 735px;
  background-image: url(img/Rectagle15.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top__catalog {
  height: 400px;
  background-image: url(img/01_catalog_head.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* --------------End Header----------------*/
/*--------------Titles--------------*/
.title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 64px;
  margin-bottom: 16px;
  color: #fff;
  font-style: normal;
}

.catalog-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  padding-top: 126px;
  padding-bottom: 126px;
  color: #fff;
  font-style: normal;
}

.sectionbox__name-item-interior,
.cat__name-item-interior,
.cart__hoformleniezakaza {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 8px;
}

/*--------------End Titles--------------*/
/*--------------Кнопки / сортировки--------------*/
.select {
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  width: 288px;
  height: 41px;
  padding-left: 14px;
  padding-right: 22px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff url("data:image/svg+xml,<svg height='11px' width='20px' viewBox='0 0 18 9' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M9 9L0.339745 0.749998L17.6603 0.75L9 9Z'/></svg>") no-repeat calc(100% - 15px) center;
}

.catalog-crumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog-crumbs__select {
  margin-top: 64px;
  margin-bottom: 32px;
}
.catalog-crumbs__link {
  margin-top: 64px;
  margin-bottom: 41px;
}

.catalog-crumbslink {
  font-size: 16px;
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  text-decoration: none;
  text-decoration-line: none;
}

/*--------------Start Section--------------*/
.sectionbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sectionbox__name-item-interior {
  margin-bottom: 10px;
  margin-top: 10px;
}
.sectionbox__specialoffer {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
}
.sectionbox__specialoffer-sale {
  display: flex;
  row-gap: 64px;
  flex-wrap: wrap;
  -moz-column-gap: 29px;
       column-gap: 29px;
}
.sectionbox__catalog {
  display: flex;
  flex-direction: column;
}
.sectionbox__catalog-sale {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-bottom: 48px;
}
.sectionbox__catalog-item > img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 8px;
  width: 378px;
  width: 100%;
}
.sectionbox__catalog-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  margin-top: 32px;
  margin-bottom: 64px;
  text-decoration: none;
}
.sectionbox__head-text {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #000000;
  margin-bottom: 32px;
  margin-top: 64px;
}
.sectionbox__item > img {
  width: 100%;
}
.sectionbox__item-description {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 13px;
  line-height: normal;
  font-style: normal;
  font-weight: 400;
  max-width: 378px;
}
.sectionbox__price {
  display: flex;
}
.sectionbox__price-new {
  font-weight: 500;
  font-size: 24px;
  line-height: normal;
  font-style: normal;
  color: #050505;
  margin-bottom: 8px;
  margin-right: 13px;
}
.sectionbox__price-old {
  font-weight: 500;
  font-size: 24px;
  line-height: normal;
  text-decoration-line: line-through;
  /* strikethrough - данное значение не зачеркивает текст*/
  color: #888888;
}

/*--------------End Section--------------*/
/*--------------"furniture for..."  index.html--------------*/
.for {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 64px;
}
.for__head {
  margin-top: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  color: #fff;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.for__hitem {
  height: 415px;
  grid-column: span 4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.for__hitem_big {
  grid-column: span 6;
}
.for__fitm {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.for__fitm-number1 {
  background-image: url(img/Rectangle_17.jpg);
}
.for__fitm-number2 {
  background-image: url(img/Rectangle_18.jpg);
}
.for__fitm-number3 {
  background-image: url(img/Rectangle_19.jpg);
}
.for__fitm-number4 {
  background-image: url(img/Rectangle_20.jpg);
}
.for__fitm-number5 {
  background-image: url(img/Rectangle_21.jpg);
}
.for__texthead {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #000000;
  margin-bottom: 32px;
  margin-top: 64px;
}

/*--------------End "furniture for..."  index.html--------------*/
/*--------------footer--------------*/
.footer__button::-moz-placeholder {
  color: #fff;
}
.footer__button::placeholder {
  color: #fff;
}
.footer__button:focus::-webkit-input-placeholder {
  opacity: 0;
  transform: scale(1.2);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.footer__color {
  background: #F7F6F6;
  padding-top: 32px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
}
.footer__content {
  width: 792px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__info {
  display: flex;
  flex-direction: row;
  gap: 129px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.footer__contact-info {
  font-weight: 500;
  font-size: 24px;
  line-height: normal;
  color: #000000;
  margin-bottom: 12px;
  font-style: normal;
}
.footer__ico {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.footer__ico-instwfb:hover path {
  fill: #000;
}
.footer__ico-instwfb {
  transition: all 1s;
}
.footer__ico-instwfb path {
  transition: all 1s;
}
.footer__ico-instwfb:hover {
  transform: scale(1.3);
}
.footer__frame {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 12px;
}
.footer__hmenu {
  font-weight: 500;
  font-size: 24px;
  line-height: normal;
  color: #000000;
  margin-bottom: 12px;
  font-style: normal;
}
.footer__inputmail {
  background: #fff;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  height: 46px;
  width: 275px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
  padding-top: 16px;
  padding-bottom: 12px;
  padding-left: 32px;
  padding-right: 32px;
}
.footer__inputmail::-moz-placeholder {
  color: #C4C4C4;
}
.footer__inputmail::placeholder {
  color: #C4C4C4;
}
.footer__inputmail:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.footer__paragraph {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 16px;
  color: #000000;
  margin-bottom: 16px;
}
.footer__button {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 18px;
  color: #000000;
}
.footer__button:hover {
  color: #ffffff;
  transition: all 1s;
  transform: scale(1.1);
  background-color: #000000;
}
.footer__link {
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  color: #888888;
  text-decoration: none;
  font-style: normal;
}
.footer__link:hover {
  text-decoration: underline;
  color: #000;
}

/*--------------End footer--------------*/
/*--------------comment class--------------
 .fsfe {
    display: grid;
} 
.head_search {
    display: flex;
} 
.incat_header__linktop {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 64px;
    margin-bottom: 41px;
}
 .sectionbox 
  .sectionbox 
   .for__texthead {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #000000;
    margin-bottom: 32px;
    margin-top: 72px;
} 
 .cart__button-down {
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #000;
    box-sizing: border-box;
    color: #000000;
    justify-content: center;
    padding: 10px 22px 10px 20px;
    background-color: transparent;
} 
 .sectionbox 
 .sectionbox 
 .sectionbox__price 
 .sectionbox__name-item-interior {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
} 
.catalog-crumbser__linktop_and_sort {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
 .cat__texthead {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #000000;
    margin-bottom: 32px;
    margin-top: 72px;
}
.sectionbox__catalog 
 .sectionbox 
 .catalog-crumbs {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 32px;
    align-items: center;
}
 .prgf_stq {
    font-size: 16px;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: chocolate;
}
.f_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sale_price {
    display: flex;
}
.sectionbox 
.cart__button-clear,
.cart__button-continue {
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #000;
    box-sizing: border-box;
    color: #000000;
    justify-content: center;
    padding: 10px 22px 10px 20px;
    background-color: transparent;
}

.cart__button-clear:hover,
.cart__button-continue:hover {
    color: #ffffff;
    transition: all 20ms;
    background-color: #000000;
} 
*/
/*--------------Global style--------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

/*--------------End Global style--------------*/
/*---------header---------*/
.top__basket {
  height: 400px;
  background-image: url(img/basket/head_rectangle_29.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  /*     &__menu {
          display: none;

          &-mob {
              display: flex;
              align-items: center;
              gap: 32px;
              padding-left: 16px;
              padding-right: 16px;
          }
      } */
}
.header__input-basket {
  width: 288px;
  height: 41px;
  border: 1px solid #fff;
  box-sizing: border-box;
  align-items: center;
  outline: none;
  background-color: transparent;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding-left: 32px;
  padding-right: 32px;
}
.header__input-basket::-moz-placeholder {
  color: #fff;
}
.header__input-basket::placeholder {
  color: #fff;
}
.header__input-basket:focus::-webkit-input-placeholder {
  opacity: 0;
  transform: scale(1.2);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .logo {
    margin-left: 16px;
  }
  .logo__img {
    width: 99px;
  }
  .title {
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .header {
    padding-top: 32px;
    border-bottom: none;
    flex-wrap: wrap;
  }
  .header__input {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .header__menu-mob {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__menu-mob .header__text-link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
  }
  .header__text__prgf_of {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 200% */
  }
  .header__text__link {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    text-decoration-line: underline;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
  }
  .for__hitem {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .for__hitem_big {
    height: 244px;
  }
  .for__texthead {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    flex-wrap: wrap;
  }
  .sectionbox__name-item-interior {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .sectionbox__specialoffer {
    display: flex;
  }
  .sectionbox__specialoffer-sale {
    display: flex;
    align-items: center;
    row-gap: 64px;
    flex-wrap: wrap;
    -moz-column-gap: 29px;
         column-gap: 29px;
  }
  .sectionbox__price-new {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .sectionbox__price-old {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: strikethrough;
  }
  .sectionbox__price__catalog-link {
    margin-top: 36px;
    margin-bottom: 32px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-decoration: none;
  }
  .sectionbox__head-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 32px;
    margin-top: 64px;
  }
  .catalog-crumbs {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .cart__pic {
    display: none;
  }
  .cart__button-clear {
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #000;
    box-sizing: border-box;
    color: #000000;
    justify-content: center;
    background-color: transparent;
  }
  .cart__button-clear:hover {
    color: #ffffff;
    transition: all 20ms;
    background-color: #000000;
  }
}
/*     
.section {
&__price {
font-size: 18px;
font-style: normal;
line-height: normal;
display: flex;
}
} 

&__img {
background-image: url(img/Rectangle_22.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.sale {


&__frame {
display: flex;
flex-direction: column;
}
}
        .cat {
            &__texthead {
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
 */
/*---------оформление заказа---------*/
/* 
.head_basket_sale_txt {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #000000;
    text-align: left;
}

.basket__head_txt {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    color: $color-text;
    font-style: normal;
    margin-top: 126px;
    margin-bottom: 126px;
} */
.cart {
  gap: 32px;
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /*     &__button-down {
          display: flex;
          align-items: center;
          border-radius: 50px;
          border: 1px solid #000;
          box-sizing: border-box;
          color: #000000;
          justify-content: center;
          padding: 10px 22px 10px 20px;
          background-color: transparent
      } */
}
.cart__form {
  border-radius: 20px;
  background: #F7F6F6;
  height: 556px;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 379px;
}
.cart__flname {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.5px solid #CACDD8;
  margin-left: 27px;
  margin-right: 64px;
  display: flex;
  background: transparent;
}
.cart__flname:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.cart__content {
  display: grid;
  grid-column: span 8;
}
.cart__name-box {
  display: flex;
  padding-bottom: 14px;
  justify-content: space-between;
}
.cart__item {
  display: flex;
  border-top: #000;
  padding-top: 25px;
  padding-bottom: 32px;
  justify-content: space-between;
  align-items: flex-start;
}
.cart__left {
  display: flex;
  gap: 32px;
}
.cart__info {
  width: 276px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.cart__pic {
  width: 173px;
  height: 173px;
}
.cart__link-box {
  display: flex;
  gap: 30px;
}
.cart__gocatalog {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: none;
}
.cart__button-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  text-decoration-line: underline;
  color: #000;
}
.cart__button {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #000;
  display: flex;
  line-height: normal;
  gap: 7px;
  margin-bottom: 64px;
  transition: all 0.3s;
}
.cart__button:hover {
  animation: myAnim 0.3s ease-in 0s 1 alternate none;
  transition: all 200ms ease;
  color: #000000;
  animation: scale-in-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s 2 both;
}
.cart__button-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  text-decoration-line: underline;
  color: #000;
}
.cart__button-down {
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000000;
  justify-content: center;
  padding: 10px 22px 10px 20px;
  background-color: transparent;
}
.cart__button-clear {
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000000;
  justify-content: center;
  display: inline-flex;
  padding: 10px 34px 10px 33px;
  background-color: transparent;
}
.cart__button-clear:hover {
  color: #ffffff;
  background-color: #000000;
  transition: all 1s;
  transform: scale(1.1);
}
.cart__button-continue {
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000000;
  justify-content: center;
  padding: 10px 22px 10px 20px;
  background-color: transparent;
}
.cart__button-continue:hover {
  color: #ffffff;
  transition: all 1s;
  transform: scale(1.1);
  background-color: #000000;
}
.cart__quantity-box {
  border-radius: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 210%;
  display: flex;
  width: 47px;
  height: 27px;
  flex-direction: column;
  justify-content: center;
  background: #F7F6F6;
  border: 0;
}
.cart__formzakaz {
  display: flex;
  width: 290px;
  height: 41px;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #040404;
  box-sizing: border-box;
  width: 275px;
  height: 46px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000000;
  margin-left: 44px;
  margin-right: 44px;
  margin-bottom: 108px;
  background-color: transparent;
  animation: myAnim 0.5s ease-in-out 0s 1 normal backwards;
}
.cart__formzakaz:hover {
  color: #ffffff;
  transition: all 0.3s;
  transform: scale(1.1);
  background-color: #000000;
}
.cart__hoformleniezakaza {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 8px;
}
.cart__ofzakaz-center {
  text-align: center;
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }
  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }
  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }
  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }
  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }
  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}
.basket_frame {
  display: flex;
  flex-wrap: wrap;
  width: 378px;
  row-gap: 8px;
}

/*  
        &__sale {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 64px;
        }

        &__bst {
        margin-bottom: 32px;
        }

        &__ofzakaz-center {
        text-align: center;
        } */
@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  /*--------------main--------------*/
  .for__hitem {
    height: 265px;
  }
  .sectionbox__catalog-sale {
    display: flex;
    flex-wrap: wrap;
  }
  .sectionbox__catalog__item-img {
    height: 250px;
  }
  .catalog-crumbs {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    margin-right: 65px;
  }
  .footer__frame-logo {
    display: none;
  }
  .cart {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .sectionbox__item {
    width: 345px;
  }
  .sectionbox__catalog-item {
    width: 345px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .logo {
    margin-left: 16px;
  }
  .logo__img {
    width: 99px;
  }
  .title {
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .header {
    padding-top: 32px;
    border-bottom: none;
    flex-wrap: wrap;
  }
  .header__input {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .header__menu-mob {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__menu-mob .header__text-link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
  }
  .header__text__prgf_of {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 200% */
  }
  .header__text__link {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    text-decoration-line: underline;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
  }
  .for__hitem {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .for__hitem_big {
    height: 244px;
  }
  .for__texthead {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    flex-wrap: wrap;
  }
  .sectionbox__name-item-interior {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .sectionbox__specialoffer {
    display: flex;
  }
  .sectionbox__specialoffer-sale {
    display: flex;
    align-items: center;
    row-gap: 64px;
    flex-wrap: wrap;
    -moz-column-gap: 29px;
         column-gap: 29px;
  }
  .sectionbox__price-new {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .sectionbox__price-old {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: strikethrough;
  }
  .sectionbox__price__catalog-link {
    margin-top: 36px;
    margin-bottom: 32px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-decoration: none;
  }
  .sectionbox__head-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 32px;
    margin-top: 64px;
  }
  .catalog-crumbs {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .cart__pic {
    display: none;
  }
  .cart__button-clear {
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #000;
    box-sizing: border-box;
    color: #000000;
    justify-content: center;
    background-color: transparent;
  }
  .cart__button-clear:hover {
    color: #ffffff;
    transition: all 20ms;
    background-color: #000000;
  }
}
/*     
.section {
&__price {
font-size: 18px;
font-style: normal;
line-height: normal;
display: flex;
}
} 

&__img {
background-image: url(img/Rectangle_22.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.sale {


&__frame {
display: flex;
flex-direction: column;
}
}
        .cat {
            &__texthead {
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
 *//*# sourceMappingURL=style.css.map */