/*--------------Global style--------------*/
$color-text: #fff;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

/*--------------End Global style--------------*/

/*--------------Start Header--------------*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.80);
    flex-wrap: wrap;

    &__input {
        width: 288px;
        height: 41px;
        border: 1px solid #fff;
        box-sizing: border-box;
        outline: none;
        background-color: transparent;
        border-radius: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: $color-text;
        padding-left: 32px;
        padding-right: 32px;

        &::placeholder {
            color: $color-text;
        }

        &:focus::-webkit-input-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
        }


    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 32px;

        &-mob {
            display: none;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 792px;

        &-link {
            font-size: 16px;
            color: $color-text;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            text-decoration-line: underline;
        }

        &-paragraph {
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            font-size: 24px;
            font-style: normal;
            margin-bottom: 16px;
            color: $color-text;
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }

    &__linktop {
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
        color: $color-text;

        &:hover {
            text-decoration: underline;
        }
    }
}

.top__main {
    height: 735px;
    background-image: url(img/Rectagle15.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.top__catalog {
    height: 400px;
    background-image: url(img/01_catalog_head.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* --------------End Header----------------*/

/*--------------Titles--------------*/
.title {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 64px;
    margin-bottom: 16px;
    color: $color-text;
    font-style: normal;
}

.catalog-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    padding-top: 126px;
    padding-bottom: 126px;
    color: $color-text;
    font-style: normal;
}

.sectionbox__name-item-interior,
.cat__name-item-interior,
.cart__hoformleniezakaza {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 8px;
}

/*--------------End Titles--------------*/

/*--------------Кнопки / сортировки--------------*/
.select {
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    width: 288px;
    height: 41px;
    padding-left: 14px;
    padding-right: 22px;
    appearance: none;
    background: $color-text url("data:image/svg+xml,<svg height='11px' width='20px' viewBox='0 0 18 9' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M9 9L0.339745 0.749998L17.6603 0.75L9 9Z'/></svg>") no-repeat calc(100% - 15px) center;
}

.catalog-crumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__select {
        margin-top: 64px;
        margin-bottom: 32px;
    }

    &__link {
        margin-top: 64px;
        margin-bottom: 41px;
    }
}

.catalog-crumbslink {
    font-size: 16px;
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    text-decoration: none;
    text-decoration-line: none;
}

/*--------------Start Section--------------*/

.sectionbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__name {
        &-item-interior {
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }

    &__specialoffer {
        display: flex;
        flex-direction: column;

        padding-left: 16px;
        padding-right: 16px;

        &-sale {
            display: flex;
            row-gap: 64px;
            flex-wrap: wrap;
            column-gap: 29px;
        }
    }

    &__catalog {
        display: flex;
        flex-direction: column;

        &-sale {
            display: flex;
            flex-wrap: wrap;
            row-gap: 30px;
            column-gap: 30px;
            margin-bottom: 48px;
        }

        &-item>img {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            row-gap: 8px;
            width: 378px;
            width: 100%;
        }

        &-link {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            color: #000;
            margin-top: 32px;
            margin-bottom: 64px;
            text-decoration: none;

        }
    }

    &__head-text {
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: #000000;
        margin-bottom: 32px;
        margin-top: 64px;
    }

    &__item>img {
        width: 100%;
    }

    &__item-description {
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        margin-bottom: 13px;
        line-height: normal;
        font-style: normal;
        font-weight: 400;
        max-width: 378px;
    }

    &__price {
        display: flex;

        &-new {
            font-weight: 500;
            font-size: 24px;
            line-height: normal;
            font-style: normal;
            color: #050505;
            margin-bottom: 8px;
            margin-right: 13px;
        }

        &-old {
            font-weight: 500;
            font-size: 24px;
            line-height: normal;
            text-decoration-line: line-through;
            /* strikethrough - данное значение не зачеркивает текст*/
            color: #888888;
        }
    }
}

/*--------------End Section--------------*/

/*--------------"furniture for..."  index.html--------------*/
.for {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;

    &__head {
        margin-top: 32px;
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(12, 1fr);
        color: $color-text;
        font-size: 34px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__hitem {
        height: 415px;
        grid-column: span 4;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__hitem_big {
        grid-column: span 6;
    }

    &__fitm {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &-number1 {
            background-image: url(img/Rectangle_17.jpg);
        }

        &-number2 {
            background-image: url(img/Rectangle_18.jpg);
        }

        &-number3 {
            background-image: url(img/Rectangle_19.jpg);
        }

        &-number4 {
            background-image: url(img/Rectangle_20.jpg);
        }

        &-number5 {
            background-image: url(img/Rectangle_21.jpg);
        }
    }

    &__texthead {
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: #000000;
        margin-bottom: 32px;
        margin-top: 64px;
    }

}

/*--------------End "furniture for..."  index.html--------------*/
/*--------------footer--------------*/
.footer {
    &__button {
        &::placeholder {
            color: $color-text;
        }

        &:focus::-webkit-input-placeholder {
            opacity: 0;
            transform: scale(1.2);
            transition: opacity 0.3s ease;
        }
    }

    &__color {
        background: #F7F6F6;
        padding-top: 32px;
        padding-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 64px;
    }

    &__content {
        width: 792px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__info {
        display: flex;
        flex-direction: row;
        gap: 129px;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;

        &-info {
            font-weight: 500;
            font-size: 24px;
            line-height: normal;
            color: #000000;
            margin-bottom: 12px;
            font-style: normal;
        }
    }

    &__ico {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        &-instwfb:hover path {
            fill: #000;
        }

        &-instwfb {
            transition: all 1s;
        }

        &-instwfb path {
            transition: all 1s;
        }

        &-instwfb:hover {
            transform: scale(1.3);
        }

    }


    &__frame {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        gap: 12px;
    }

    &__hmenu {
        font-weight: 500;
        font-size: 24px;
        line-height: normal;
        color: #000000;
        margin-bottom: 12px;
        font-style: normal;
    }

    &__inputmail {
        background: $color-text;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 20px;
        height: 46px;
        width: 275px;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #C4C4C4;
        padding-top: 16px;
        padding-bottom: 12px;
        padding-left: 32px;
        padding-right: 32px;

        &::placeholder {
            color: #C4C4C4;
        }

        &:focus::-webkit-input-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
        }
    }

    &__paragraph {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        line-height: 16px;
        color: #000000;
        margin-bottom: 16px;
    }

    &__button {
        background: rgba(222, 215, 215, 0.41);
        border: 1px solid $color-text;
        box-sizing: border-box;
        border-radius: 20px;
        width: 275px;
        height: 46px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        line-height: 18px;
        color: #000000;

        &:hover {
            color: #ffffff;
            transition: all 1s;
            transform: scale(1.1);
            background-color: #000000;
        }
    }

    &__link {
        font-weight: 500;
        font-size: 14px;
        line-height: normal;
        color: #888888;
        text-decoration: none;
        font-style: normal;

        &:hover {
            text-decoration: underline;
            color: #000;

        }
    }
}

/*--------------End footer--------------*/
/*--------------comment class--------------
 .fsfe {
    display: grid;
} 
.head_search {
    display: flex;
} 
.incat_header__linktop {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 64px;
    margin-bottom: 41px;
}
 .sectionbox 
  .sectionbox 
   .for__texthead {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #000000;
    margin-bottom: 32px;
    margin-top: 72px;
} 
 .cart__button-down {
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #000;
    box-sizing: border-box;
    color: #000000;
    justify-content: center;
    padding: 10px 22px 10px 20px;
    background-color: transparent;
} 
 .sectionbox 
 .sectionbox 
 .sectionbox__price 
 .sectionbox__name-item-interior {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
} 
.catalog-crumbser__linktop_and_sort {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
 .cat__texthead {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #000000;
    margin-bottom: 32px;
    margin-top: 72px;
}
.sectionbox__catalog 
 .sectionbox 
 .catalog-crumbs {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 32px;
    align-items: center;
}
 .prgf_stq {
    font-size: 16px;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: chocolate;
}
.f_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sale_price {
    display: flex;
}
.sectionbox 
.cart__button-clear,
.cart__button-continue {
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #000;
    box-sizing: border-box;
    color: #000000;
    justify-content: center;
    padding: 10px 22px 10px 20px;
    background-color: transparent;
}

.cart__button-clear:hover,
.cart__button-continue:hover {
    color: #ffffff;
    transition: all 20ms;
    background-color: #000000;
} 
*/

@import 'cart';
@import 'tablet';
@import 'mobile';